<div class="container">
    <h2>Categories</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
            <li class="breadcrumb-item active">Categories</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Categories</h3>
            <div class="d-flex justify-content-between">
                <div>
                    <p class="card-subtitle">This is to define category list.</p>
                </div>
                <div><button type="button" class="btn btn-primary btn-sm" routerLink="/category/create-category">Create New</button></div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th>Category Name</th>
                        <th>Category Code</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <!-- <th scope="row">1</th> -->
                        <td>{{category.name}}</td>
                        <td>{{category.code}}</td>
                        <td>{{category.status}}</td>
                        <td>
                            <button class="btn btn-info" (click)="updateCategory(category.id)">Update</button>
                            <button class="btn btn-danger" (click)="deleteCategory(category.id)" style="margin-left: 10px">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>