

  <div class="navbar">
    <!-- <div class="container"> -->
      <!-- <a class="navbar-brand"> -->
        <div class="d-flex justify-content-start">
          <div>
        <img src="/assets/logo.png" width="50" height="50">
      </div>
      <div>
        <h4 style="margin-top: 12px; margin-left: 15px;">BumbleBee</h4>
      </div>
      </div>
      <!-- </a> -->
    <!-- </div> -->
  </div>

<div class="sidebar">
  <a routerLink="brand" routerLinkActive="active">Brand</a>
  <a routerLink="category" routerLinkActive="active">Category</a>
  <a routerLink="product" routerLinkActive="active">Product</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>